/target
/local

# Eclipse, Netbeans and IntelliJ files
/.*
!.gitignore
/nbproject
/*.ipr
/*.iws
/*.iml

src/main/webapp/WEB-INF/deploy
src/main/webapp/org.jbpm.formbuilder.FormBuilder
src/main/webapp/org.jbpm.formdisplay.FormDisplay

/src/main/webapp/WEB-INF/classes/**
/src/main/webapp/WEB-INF/lib/**
!/src/main/webapp/WEB-INF/lib/editor-0.1.4.jar
!/src/main/webapp/WEB-INF/lib/gwt-rolodex-1.3.jar
!/src/main/webapp/WEB-INF/lib/gwt-servlet.jar
!/src/main/webapp/WEB-INF/lib/gwtent-1.0.0.jar

